*, *::before, *::after {
box-sizing: inherit;
}

h1 {
color: #512200;
font-size: 3em;
padding: .5em;
margin: 0;
}

header {
  color: #512200;
background-image: url("../images/subtle_white_mini_waves.png");
text-align: center;
padding-bottom: 3em;
margin-bottom: -4.1em;
}

nav ol {
  list-style-type: none;
padding: 0;
margin: 0;
}

nav li {
  float: left;
padding: .5em;
width: 25%;
background-color: #512200;
opacity: .5;
font-size: 1.7em;
text-align: center;
}

nav li a {
color: white;
text-decoration: none;
}

.beetle-left{
  width: 105px;
  left: 5px;
  top: 0.5em;
  position: absolute;
}

.beetle-right{
  width: 105px;
  right: 5px;
  top: 0.5em;
  position: absolute;
}

h2{

}

.antnest {

}

.stag {

}

.dung {

}

.tortoise {

}
